.leaflet-container {
				background-color: #404040 !important;
}

.leaflet-tile {
				filter: url(#reduce-red-dark) invert(100%) hue-rotate(300deg) grayscale(0.82) contrast(1.12) brightness(0.96) opacity(0.92);
}

.leaflet-container img.leaflet-image-layer {
				opacity: 0.8 !important;
				filter: hue-rotate(0deg) saturate(1.2) drop-shadow(0 0 1px blue) drop-shadow(0 0 0px blue) drop-shadow(0 0 0px blue) drop-shadow(0 0 0px blue) !important;
}

.form-select {
				background-color: #2223 !important;
				color: white !important;
}

				.form-select option {
								background-color: #222 !important;
				}
